apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: opencti-azure-kv
  namespace: $(NAMESPACE)
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "$(AKSCLIENTID)"
    keyvaultName: "$(KEYVAULT)"
    tenantId: "$(TENANTID)"
    objects: |
      array:
        - |
          objectName: minio-root-user
          objectType: secret
        - |
          objectName: minio-root-password
          objectType: secret
        - |
          objectName: rabbitmq-user
          objectType: secret
        - |
          objectName: rabbitmq-password
          objectType: secret
        - |
          objectName: opencti-base-url
          objectType: secret
        - |
          objectName: opencti-admin-email
          objectType: secret
        - |
          objectName: opencti-admin-password
          objectType: secret
        - |
          objectName: opencti-admin-token
          objectType: secret
        - |
          objectName: opencti-healthcheck-access-key
          objectType: secret
        - |
          objectName: redis-password
          objectType: secret
        - |
          objectName: smtp-hostname
          objectType: secret
        - |
          objectName: saml-certificate-data
          objectType: secret
        - |
          objectName: socradar-username
          objectType: secret
        - |
          objectName: socradar-password
          objectType: secret
  secretObjects:
  - secretName: opencti-azure-kv-secret
    type: Opaque
    data:
    - objectName: minio-root-user
      key: minio-root-user
    - objectName: minio-root-password
      key: minio-root-password
    - objectName: rabbitmq-user
      key: rabbitmq-user
    - objectName: rabbitmq-password
      key: rabbitmq-password
    - objectName: opencti-base-url
      key: opencti-base-url
    - objectName: opencti-admin-email
      key: opencti-admin-email
    - objectName: opencti-admin-password
      key: opencti-admin-password
    - objectName: opencti-admin-token
      key: opencti-admin-token
    - objectName: opencti-healthcheck-access-key
      key: opencti-healthcheck-access-key
    - objectName: redis-password
      key: redis-password
    - objectName: smtp-hostname
      key: smtp-hostname
    - objectName: saml-certificate-data
      key: saml-certificate-data
    - objectName: socradar-username
      key: socradar-username
    - objectName: socradar-password
      key: socradar-password