name: 0 Deploy Infra
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run with'
        type: environment
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    name: 0 Deploy Infra
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
    - name: Login to Azure
      uses: azure/login@v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id:  ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true

    # Step 1: Checkout the repository
    - name: Checkout Repository
      uses: actions/checkout@v3
  
    - name: Bicep Deploy
      uses: Azure/bicep-deploy@v2.2.0
      with:
        type: deployment
        operation: create
        name: "${{ vars.APPNAME }}-${{ vars.APPVERSION }}-${{ github.run_id}}"
        scope: resourceGroup
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        resource-group-name: 'rg-${{ vars.APPNAME }}-${{ vars.APPVERSION }}'
        template-file: main.bicep
        # Specifies the parameters to use.
        parameters: |
          {
            "appName": "${{ vars.APPNAME }}",
            "appVersion": "${{ vars.APPVERSION }}",
            "minioRootUser": "${{ secrets.MINIO_ROOT_USER }}",
            "minioRootPassword": "${{ secrets.MINIO_ROOT_PASSWORD }}",
            "entraIdInfraAdminGroupObjectId": "${{ vars.ENTRA_ID_INFRA_ADMIN_GROUP_ID }}",
            "rabbitmqUser": "${{ secrets.RABBITMQ_USER }}",
            "rabbitmqPassword": "${{ secrets.RABBITMQ_PASSWORD }}",
            "openctiBaseUrl": "${{ vars.OPENCTI_BASE_URL }}",
            "openctiAdminEmail": "${{ secrets.OPENCTI_ADMIN_EMAIL }}",
            "openctiAdminPassword": "${{ secrets.OPENCTI_ADMIN_PASSWORD }}",
            "openctiAdminToken": "${{ secrets.OPENCTI_ADMIN_TOKEN }}",
            "openctiHealthcheckAccessKey": "${{ secrets.OPENCTI_HEALTHCHECK_ACCESS_KEY }}",
            "redisPassword": "${{ secrets.REDIS_PASSWORD }}",
            "smtpHostname": "${{ secrets.SMTP_HOSTNAME }}",
            "samlCertData": "${{ secrets.SAML_CERT_DATA }}",
            "socradarUsername": "${{ secrets.SOCRADAR_USERNAME }}",
            "socradarPassword": "${{ secrets.SOCRADAR_PASSWORD }}"
          }
    - name: Setup kubectl
      uses: azure/setup-kubectl@v4
    
    - name: Setup kubelogin
      uses: azure/use-kubelogin@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        kubelogin-version: 'latest'

    - name: Set AKS context
      uses: azure/aks-set-context@v4
      with:
        resource-group: '${{ vars.AKS_RESOURCE_GROUP }}'
        cluster-name: '${{ vars.AKS_CLUSTER_NAME }}'
        admin: 'false'
        use-kubelogin: 'true'

    - name: Check that Namespace OpenCTI exists
      run: |
        echo -e "apiVersion: v1\nkind: Namespace\nmetadata:\n  name: opencti" | kubectl apply -f -

    - name: Replace Variables 
      uses: azure/powershell@v2
      id: aks-clientid
      with:
        inlineScript: |
          
          function Replace-VariablesInFile {
              param (
                  [string]$FilePath,
                  [hashtable]$Variables,
                  [string]$OutputPath = $FilePath
              )

              if (-not (Test-Path $FilePath)) {
                  Write-Error "Datei '$FilePath' wurde nicht gefunden."
                  return
              }

              $content = Get-Content $FilePath -Raw

              foreach ($key in $Variables.Keys) {
                  $placeholder = "\$\($key\)"  # z.B. $(USERNAME)
                  $value = [regex]::Escape($Variables[$key])
                  $content = [regex]::Replace($content, $placeholder, $Variables[$key])
              }

              Set-Content -Path $OutputPath -Value $content
              Write-Host "Variablen ersetzt und gespeichert in '$OutputPath'"
          }

          # Get AKS KeyVault Secrets Provider Managed Identity
          Write-Host "Getting AKS KeyVault Secrets Provider Managed Identity..."
          $aksclientid = az aks show --resource-group ${{ vars.AKS_RESOURCE_GROUP }} --name ${{ vars.AKS_CLUSTER_NAME }} --query addonProfiles.azureKeyvaultSecretsProvider.identity.clientId -o tsv
          Write-Output "Found Aks Key Vault Managed Identity: $aksclientid"
          $server = Get-AzContainerRegistry -Name '${{ vars.ACR_NAME }}' -ResourceGroupName '${{ vars.AKS_RESOURCE_GROUP }}'
          Write-Output "Found ACR server name: $($server.LoginServer)"

          # Get the first Key Vault in the resource group
          $keyVaultName = az keyvault list --resource-group "rg-${{ vars.APPNAME }}-${{ vars.APPVERSION }}" --query "[0].name" -o tsv
          Write-Output "Found Key Vault name: $keyVaultName"
    
          
          $vars = @{
              AKSCLIENTID = $aksclientid
              ACRSERVER = $($server.LoginServer)
              KEYVAULT = $keyVaultName
              APPNAME = '${{ vars.APPNAME }}'
              APPVERSION = '${{ vars.APPVERSION }}'
              TENANTID = '${{ secrets.AZURE_TENANT_ID }}'
              OPENCTI_HOSTNAME = '${{ vars.OPENCTI_BASE_URL }}'
              OPENCTI_HEALTHCHECK_ACCESS_KEY = '${{ secrets.OPENCTI_HEALTHCHECK_ACCESS_KEY }}'
              SAML_LABEL = '${{ vars.SAML_LABEL }}'
              SAML_ISSUER = '${{ vars.SAML_ISSUER }}'
              SAML_ENTRY_POINT = '${{ vars.SAML_ENTRY_POINT }}'
              SAML_CALLBACK_URL = '${{ vars.SAML_CALLBACK_URL }}'
          }

          Write-Host "Variables to replace: $($vars | Out-String)"
          # Replace Variable in kubernetes files
          Replace-VariablesInFile -FilePath k8s/services/elasticsearch-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/services/minio-service.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/services/rabbitmq-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/services/secretproviderclass.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/services/redis-deployment.yaml -Variables $vars
          
          Replace-VariablesInFile -FilePath k8s/opencti/ingress.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/platform-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/worker-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-taxii-socradar-bv-collection-01.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-analysis-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-import-document-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-export-file-csv-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-export-file-stix-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-export-file-txt-deployment.yaml -Variables $vars
          Replace-VariablesInFile -FilePath k8s/opencti/connector-import-file-stix-deployment.yaml -Variables $vars
        azPSVersion: "latest"

    - name: Deploy SecretProviderClass to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/services/secretproviderclass.yaml

    - name: Deploy MinIO to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/services/minio-service.yaml

    - name: Deploy Elasticsearch to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/services/elasticsearch-deployment.yaml

    - name: Deploy RabbitMQ to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/services/rabbitmq-deployment.yaml
          
    - name: Deploy Redis to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/services/redis-deployment.yaml
          
    - name: Deploy OpenCTI Platform to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/platform-deployment.yaml
          
    - name: Deploy OpenCTI Worker to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/worker-deployment.yaml

    - name: Deploy OpenCTI Ingress to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/ingress.yaml
          
    

    - name: Deploy OpenCTI Analysis Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-analysis-deployment.yaml

    - name: Deploy OpenCTI Import Document Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-import-document-deployment.yaml

    - name: Deploy OpenCTI Export CSV Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-export-file-csv-deployment.yaml

    - name: Deploy OpenCTI Export STIX Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-export-file-stix-deployment.yaml

    - name: Deploy OpenCTI Export TXT Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-export-file-txt-deployment.yaml

    - name: Deploy OpenCTI Import STIX Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-import-file-stix-deployment.yaml

    - name: Deploy OpenCTI TAXII SOCRadar Connector to AKS
      uses: Azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/opencti/connector-taxii-socradar-bv-collection-01.yaml